@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
}

.page {
    display: flex;
    min-height: 100vh;
}

.header {
    background-color: #202534;
    flex: 0 0 276px;
}

.content {
    padding: 20px;
}

.header__top {
    padding: 10px 26px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #949494;
    margin-bottom: 10px;
}

.header-turn {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-turn__line {
    width: 20px;
    height: 0;
    background-color: #eee;
    display: block;
}

.header-turn__line:before, .header-turn__line:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #eee;
}

.header-turn__line:before {
    transform: rotate(45deg);
}

.header-turn__line:after {
    transform: rotate(-45deg);
}

.menu__item {
    color: #eee;
    padding: 13px 10px 13px 26px;
    position: relative;
}

.menu__item.selected {
    background-color: #353a47;
}

.menu__item.selected:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: #2b8cfc;
}

.menu__item-link {
    display: flex;
}

.menu__item-link i {
    font-size: 24px;
    width: 30px;
}


.header_hidden .header-turn__line:after, .header_hidden .header-turn__line:before {
    transform: rotate(0);
}

.header_hidden .header-turn__line:after {
    top: 0;
}

.header_hidden .header-turn__line:before {
    bottom: 0;
}

.header_hidden .header-turn__line {
    height: 2px;
}

.header_hidden .menu__item-link span {
    display: none;
}

.header_hidden {
    flex: 0 0 auto;
}

.block-switcher {
    display: flex;
}

.block-switcher__item {
    flex: 1 0 auto;
    margin: 5px;
    border: 1px solid #333;
    text-align: center;
    padding: 10px 20px;
}
.block-switcher__item.hidden {
    display: none;
}

@media (max-width: 1200px) {
    .header {
        flex: 0 0 auto;
    }

    .menu__item-link span {
        display: none;
    }

    .header_hidden .menu__item-link span {
        display: block;
    }

    .header_hidden {
        flex: 0 0 276px;
    }

    .header-turn__line {
        height: 2px;
    }

    .header-turn__line:before {
        bottom: 0;
    }

    .header-turn__line:after {
        top: 0;
    }

    .header-turn__line:before, .header-turn__line:after {
        transform: rotate(0);
    }

    .header_hidden .header-turn__line:before {
        transform: rotate(45deg);
        bottom: unset;
    }

    .header_hidden .header-turn__line:after {
        transform: rotate(-45deg);
        top: unset;
    }

    .header_hidden .header-turn__line {
        height: 0;
    }
}